{% extends 'foundation.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim fugit hic illum laudantium praesentium rem. Ab aliquam dolorem eaque eius excepturi facilis, illum, laudantium optio reiciendis reprehenderit sunt velit?
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at deleniti dicta distinctio doloremque eos
        eum eveniet excepturi fugit ipsum, libero minus nemo, nobis perferendis quasi recusandae rem vel veniam!
    </div>
    <div>Animi asperiores blanditiis consequuntur corporis dicta doloremque facere fuga fugiat impedit laudantium magni
        maiores minus molestiae nam, necessitatibus nobis odio odit officia omnis optio porro praesentium repudiandae
        sint tempora velit.
    </div>
    <div>At expedita, molestias nemo non nostrum possimus. Dicta enim minus necessitatibus nulla, quas ratione rerum
        soluta! Consequuntur cumque deleniti dolore, ipsum itaque molestias nobis possimus similique? Consequuntur
        dolores ipsum vero.
    </div>
    <div>Asperiores corporis dolores esse iure maxime, rem! Doloremque eaque facere illum provident, ratione
        reprehenderit vel? Aliquam aspernatur assumenda eaque eos eveniet excepturi fugiat, fugit ipsum iure nulla odio
        repellat voluptatum.
    </div>

{% endblock %}

